/*主图*/
#spec-list ul {
    margin-left: 0;
}

#spec-list li {
    list-style-type:none;
    float: left;
    width: 25%;
    padding: 2px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#spec-list li.img-hover {
    border: 2px solid #428bca;
    padding: 0;
}

#spec-list li img {
    display: block;
    height: auto;
    width: 100%;
}

.preview .spec {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    margin-bottom: 5px;
}
.preview .spec img {
    display: block;
    height: auto;
    width: 100%;
}

.item-info {
    border: 1px solid #dcebf7;
}

#download .other .profile-info-value div {
    margin-bottom: 10px;
}

#download .other .profile-info-value div button:hover {
}

#ace-settings-container {
    display: none;
}

/*模型分类 树形样式*/
#model-tree span {
    color: #428BCA;
}

#model-tree li.disabled a {
    color: #BBB;
    cursor: default;
}

#model-tree li.disabled a:hover {
    text-decoration: none;
}











