/*模型分类 树形样式*/
#model-tree span {
    color: #428BCA;
}

#model-tree li.disabled a {
    color: #BBB;
    cursor: default;
}

#model-tree li.disabled a:hover {
    text-decoration: none;
}

.proj-list {
    margin-top: 10px;
    background-color: #f4f9fc;
}

.proj-list ul {
    margin-right: 60px;
    height: 34px;
    overflow: hidden;
}

.proj-list:hover ul {
    height: auto;
    margin-bottom: -10px;
}

.proj-list li {
    float: left;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

#add-new-btn {
    position: absolute;
    right: 12px;
    top: 10px;
}

.table th {
    text-align: center;
}

.progress-slider {
    float: left;
    margin-top: 11px;
}

.progress-input {
    width: 15%;
    max-width: 100%;
    margin-left: 15px;
}

table input {
    width: 100%;
}

table select[multiple] {
    width: 300px;
}

.chosen-container-multi .chosen-choices {
    border-color: #d5d5d5;
    background-image: none;
}

table select.form-control {
    height: 28px;
}

.ui-dialog .ui-dialog-titlebar-close {
    outline: 0;
}
























